//  max width - 1499px
@media screen and (max-width: 1499px) {
	// === advantage ===
	.advantage {
		&__container {
			overflow: hidden;
		}

		&__item:last-child {
			padding-right: 15px;
		}

		// .advantage__limiter
		&__limiter {
			margin: 0 auto -20px;
			width: 100%;
			padding: 0 0 20px 0;
			/* Зададим возможность горизонтальной прокрутки */
			overflow-x: scroll;

			mask-image: linear-gradient(
				90deg,
				rgba(0, 0, 0, 1) 0%,
				rgba(0, 0, 0, 1) 90%,
				rgba(0, 0, 0, 0.1) 100%
			);
			-webkit-mask-image: linear-gradient(
				90deg,
				rgba(0, 0, 0, 1) 0%,
				rgba(0, 0, 0, 1) 90%,
				rgba(0, 0, 0, 0.1) 100%
			);
		}
	}
}

//  1265px - 1440px
@media screen and (max-width: 1440px) {
	.info-blog {
		&__bottom {
			&-popap {
				margin-right: 0;
			}
		}
	}
}

//  1230px - 1264px
@media screen and (max-width: 1264px) {
	.info-blog {
		&__bottom {
			&::before {
				width: 800px;
			}
		}
	}
}

//  1145px - 1229px
@media screen and (max-width: 1229px) {
	.goods {
		.container {
			padding: 0 0 0 15px;
		}
	}

	.slick-slider {
		// стрелки
		.slick-arrow {
			// стрелка влево
			&.slick-prev {
				right: 70px;
			}

			// стрелка вправо
			&.slick-next {
				right: 15px;
			}
		}
	}

	.info-blog {
		&__bottom {
			&::before {
				width: 600px;
			}
		}
	}
}

// 1200px - 1144px
@media screen and (max-width: 1144px) {
	// === info blog ===
	.info-blog {
		// .info-blog__top
		&__top {
			// .info-blog__top__item
			&-item:first-child {
				// width: 190px;
			}

			&-title {
				margin-bottom: 40px;
			}

			&-btn {
				margin: 40px 0 0 0;
			}

			.item-star {
				position: relative;

				&:before {
					top: -120px;
					left: calc(100% - 100px);
					transform: scale(0.56);
				}
			}
		}

		&__bottom {
			flex-direction: column;

			&-title {
				width: 700px;
				margin-bottom: 28px;
				margin-top: 0;
			}

			&-popap {
				width: 100%;
			}
		}
	}
}

//  1100px - 1199px
@media screen and (max-width: 1199px) {
}

//  1024px - 1099px
@media screen and (max-width: 1099px) {
	.menu-catalog {
		&__items {
			grid-column-gap: 16px;
		}

		&__item {
			&-name {
				font-size: 30px;
			}
		}
	}
}

//  971px - 1023px
@media screen and (max-width: 1023px) {
	// === шапка с логотипом ===
	.top {
		// .top__wrapper
		&__wrapper {
		}

		// .top__left
		&__left {
		}

		.logo {
			&::after {
			}
		}

		// .top__btn
		&__btn {
			margin-right: 30px;

			.burger {
				margin-right: 8px;
				span {
				}
				span:first-child {
				}
				span:last-child {
				}
			}

			span {
			}
		}
		// .top__right
		&__right {
		}
		// .top__favourite
		&__favourite {
			margin-right: 17px;
		}
		// .top__bag
		&__bag {
			margin-right: 38px;

			// .top__bag__count
			&-count {
				span {
				}
			}
		}

		// .top__language
		&__language {
			.language__active {
			}

			.language__disabled {
			}

			&-name {
			}

			&-arrow {
			}

			.arrow__active {
			}

			&-select {
			}
		}
	}

	// === menu ===
	.menu {
		// .menu__items
		&__items {
		}
		// .menu__item
		&__item {
			margin-right: 28px;
			// margin: 0 14px;

			// .menu__item__link
			&-link {
				font-size: 14px;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	// === header content ===
	.content {
		&::before {
			height: 125px;
		}

		&::after {
			right: 50px;
			transform: scale(0.8);
		}

		// .content__img
		&__img {
			&::before {
				width: 125px;
				left: -140px;
			}

			&::after {
				width: 125px;
				right: -140px;
			}
		}
	}

	// === footer ===
	.footer {
		// .footer__contact
		&__contact {
			// width: 250px;
		}

		// .footer__form
		&__form {
			// width: 250px;
			margin-right: 0;
			margin-left: 44px;
		}

		// .footer__form-label
		&__form-label {
			margin-left: 44px;
		}
	}

	// === advantage ===
	.advantage {
		&__item {
			margin-right: 62px;

			&::after {
				right: -45px;
			}
		}
	}

	// === category ===
	.category {
		// .category__item
		&__item {
			// .category__item-img
			&-img {
				width: 340px;
				height: 475px;
			}
		}
	}

	.info-blog {
		&__bottom {
			&::before {
				width: 320px;
				top: -550px;
			}
		}
	}

	.main {
		&::before {
			// top: 300px;
		}
	}
}

// 796px - 970px
@media screen and (max-width: 970px) {
	// === instagram ===
	.instagram {
		// .instagram__items
		&__items {
			grid-gap: 18px;
		}

		// .instagram__item-text
		&__item-text {
			margin-bottom: 8px;

			span:first-child {
				margin-left: 0;
			}

			span:nth-child(2) {
				margin-left: 73px;
				margin-top: 0;
			}

			span:last-child {
				font-size: 48px;
				margin-left: 25px;
				margin-top: 0;
			}
		}
	}
}

//  768px - 795px
@media screen and (max-width: 795px) {
	.menu-catalog {
		&__items {
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(16, 88px);
		}

		&__item {
			&-number {
				width: auto;
			}
		}
	}

	// === info blog ===
	.info-blog {
		&__line {
			display: none;
		}

		// .info-blog__top
		&__top {
			// .info-blog__top__item
			&-item:first-child {
				width: 190px;
			}

			// .info-blog__top__item
			&-item:nth-child(2) {
				width: 230px;
			}
		}
	}

	.info-blog {
		&__bottom {
			&::before {
				width: 200px;
				top: -550px;
			}
		}
	}
}

//  726px - 767px
@media screen and (max-width: 767px) {
	// === menu ===
	.menu {
		&__item {
			&-link {
				white-space: nowrap;
			}
		}
	}

	.advantage {
		&::after,
		&::before {
			width: calc(100% - 50px);
		}
	}

	// === goods ===
	.goods {
		padding: 100px 0 80px;

		// .goods__card
		&__card {
			grid-template-columns: 135px;
			grid-template-rows: 136px 38px;

			// .goods__card__content
			&__content {
				grid-template-columns: 110px 20px;
				grid-template-rows: 38px;
			}

			// .goods__card__img
			&__img {
				position: relative;
				width: 135px;
				height: 136px;

				.goods__card__favourite {
					top: 13px;
					right: 12px;
				}
			}
		}

		// .goods__title
		&__title {
			font-size: 36px;
			line-height: 36px;
			margin-bottom: 30px;
			width: 160px;
		}
	}

	// === slick slider ===
	.slick-slider {
		// слайд
		.slick-slide {
			margin: 0 10px;
			width: 135px;
			height: 188px;
		}
	}

	// === category ===
	.category {
		// .category__item
		&__item {
			padding: 30px 0 29px;

			// .category__item-name
			&-name {
				font-size: 30px;
			}

			// .category__item-number
			&-number {
				width: auto;
			}

			// .category__item-img
			&-img {
				display: none;
			}
		}
	}

	// === info blog ===
	.info-blog {
		padding: 71px 0 100px 0;

		// .info-blog__top
		&__top {
			flex-direction: column;
			align-items: center;
			margin-bottom: 100px;

			&-item {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
			}

			// .info-blog__top__item
			&-item:first-child {
				order: 2;
				margin-right: 0;
				margin-bottom: 50px;
				width: 100%;

				.info-blog__top-img {
					display: none;
				}
			}

			&-text {
				margin-bottom: 0;
			}

			// .info-blog__top__item
			&-item:nth-child(2) {
				order: 1;
				margin-right: 0;
				margin-bottom: 30px;
				width: 100%;
			}

			// .info-blog__top__item
			&-item:last-child {
				order: 3;
				width: 100%;
			}

			&-title {
				font-size: 36px;
				line-height: 36px;
				text-align: center;
				margin-bottom: 30px;
			}

			&-btn {
				margin: 30px auto 0 auto;
			}

			.item-star {
				&:before {
					top: -100px;
					left: calc(100% - 150px);
				}
			}
		}

		// .info-blog__bottom
		&__bottom {
			flex-direction: column;
			align-items: center;

			&::before {
				display: none;
			}

			&-popap {
				height: 363px;
				margin-left: -15px;
				width: calc(100% + 45px);
			}

			&-title {
				font-size: 36px;
				line-height: 36px;
				text-align: center;
				width: 200px;
			}
		}
	}

	// === instagram ===
	.instagram {
		padding-bottom: 78px;

		// .instagram__items
		&__items {
			grid-template-columns: minmax(91px, auto) minmax(91px, auto) minmax(
					91px,
					auto
				);
			grid-gap: 8px;
		}

		&__item {
			&-link {
				&.btn {
					width: 140px;
					height: 55px;
					font-size: 12px;
				}
			}
		}

		// .instagram__mobile-text
		&__mobile-text {
			display: block;
			font-size: 36px;
			font-family: "Bigilla-Regular", serif;
			color: $color-font;
			margin-bottom: 30px;
			text-align: center;

			span {
				display: block;
				margin-top: 0;
			}

			span:first-child {
				margin-left: 0;
			}

			span:nth-child(2) {
				margin-left: 68px;
			}

			span:last-child {
				margin-left: -55px;
			}
		}

		// .instagram__item-text
		&__item-text {
			display: none;
		}
	}
}

//  656px - 725px
@media screen and (max-width: 725px) {
	.top {
		// .top__btn
		&__btn {
			background-color: transparent;
			margin-right: 12px;
			padding: 12px 0;

			.burger {
				margin-right: 0;
				span {
					background-color: $color-font;
				}
			}

			span {
				font-size: 0px;
			}
		}

		// .top__bag
		&__bag {
			margin-right: 0;
		}

		// .top__left
		&__left {
			.top__language {
				display: block;
			}
		}

		// .top__right
		&__right {
			.top__language {
				display: none;
			}
		}

		// .top__language
		&__language {
		}
	}

	// === menu ===
	.menu {
		&__item {
			margin-right: 14px;
		}
	}

	.search {
		display: none;
	}

	// === header content ===
	.content {
		padding: 40px 0 50px;

		&::before {
			display: none;
		}

		&::after {
			right: -20px;
			transform: scale(0.5);
			top: -50px;
		}

		&__text {
			left: -20px;
			top: -30px;
			transform: scale(0.7);
		}

		// .content__img
		&__img {
			&::before {
				display: none;
			}

			&::after {
				display: none;
			}
		}

		// .content__title
		&__title {
			// font-size: 48px;
		}

		// .content__subtitle
		&__subtitle {
			// font-size: 48px;
		}

		// .content__text
		&__text {
		}
	}

	// === footer ===
	.footer {
		// .footer__content
		&__content {
			flex-direction: column;
			padding: 30px 0;

			.logo {
				order: 1;
				margin-bottom: 20px;

				&::after {
					top: 239px;
				}
			}
		}

		// .footer__form
		&__form {
			margin-left: 0;

			&-wrapper {
				order: 2;
			}

			&-label {
				margin-left: 0;
			}
		}

		// .footer__contact
		&__contact {
			order: 3;
			margin-top: 20px;
			text-align: center;
		}
	}
}

//  500px - 655px
@media screen and (max-width: 655px) {
	// === menu ===
	.menu {
		.container {
			/* Спрячем всё, что выходит за границы родителя */
			overflow: hidden;
			padding-right: 0;
		}

		&__items {
			justify-content: flex-start;
		}

		&__item {
			&-link {
				white-space: nowrap;
			}
		}

		&__item:last-child {
			padding-right: 15px;
		}

		// .menu__limiter
		&__limiter {
			margin: 0 auto -20px;
			width: 100%;
			// width: 400px;
			padding: 0 0 20px 0;
			/* Зададим возможность горизонтальной прокрутки */
			overflow-x: scroll;

			mask-image: linear-gradient(
				90deg,
				rgba(0, 0, 0, 1) 0%,
				rgba(0, 0, 0, 1) 90%,
				rgba(0, 0, 0, 0.1) 100%
			);
			-webkit-mask-image: linear-gradient(
				90deg,
				rgba(0, 0, 0, 1) 0%,
				rgba(0, 0, 0, 1) 90%,
				rgba(0, 0, 0, 0.1) 100%
			);
		}
	}
}

//  322px - 499px
@media screen and (max-width: 499px) {
	// === header content ===
	.content {
		&::after {
			right: -50px;
			transform: scale(0.3);
			top: -55px;
		}

		&__text {
			left: 35px;
			top: 15px;
			transform: scale(1);
		}

		&__title {
			font-size: 48px;
			margin-left: 42px;
		}

		&__subtitle {
			font-size: 48px;
			margin-top: -6px;
		}

		&__subtitle:last-child {
			margin-left: 80px;
			margin-top: -10px;
		}
	}

	// === instagram ===
	.instagram {
		&__item {
			&-link {
				&.btn {
					width: 96px;
					height: 38px;
					font-size: 8px;
				}
			}
		}
	}
}

// 320px - 321px
@media screen and (max-width: 321px) {
	.info-blog {
		&__top {
			.item-star:before {
				top: -45px;
				left: 155px;
				transform: scale(0.35);
			}
		}
	}
}
