$color-bg: #faf8f8;
$color-white: #fbfbfb;
$color-button: #836f7f;
$color-font: #282828;
$color-burger: #f3ece1;
$color-bag-count: #e4bdb8;
$color-line: #aeadae;
$color-footer-text: #6b6b6b;
$color-black: #000;
